
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  background-color:hsl(223, 19%, 93%);
}

.all-replies{
  border-left: 1px solid  hsl(211, 10%, 45%);
  margin-left: 35rem;
  width: 80%;
}
.all-replies .comment-section,
.all-replies .send-message-section{
  width: 48%;
  margin-left: 2rem;
 
}



